
ESP32_MIDI/.DS_Store
ESP32_MIDI/.DS_Store
ESP32_MIDI/ESP32_MIDI-backups/.DS_Store
ESP32_MIDI/.DS_Store
ESP32_MIDI/Pot-adaptor/.DS_Store
PCB/ESP32_MIDI-backups/.DS_Store
PCB/ESP32_MIDI-backups/.DS_Store
PCB/ESP32_MIDI_v2/.DS_Store
PCB/ESP32_MIDI_v2/ESP32_MIDI-backups/.DS_Store
PCB/ESP32_MIDI_v2/ESP32_MIDI_v2/Pot-adaptor/.DS_Store
PCB/ESP32_MIDI_v2/Pot-adaptor/.DS_Store
PCB/Kicad/.DS_Store
PCB/Kicad/Main-PCB/.DS_Store
PCB/Kicad/Main-PCB/ESP32_MIDI-backups/.DS_Store
PCB/Kicad/Main-PCB/ESP32_MIDI_v2/.DS_Store
PCB/Kicad/Main-PCB/ESP32_MIDI_v2/ESP32_MIDI-backups/.DS_Store
PCB/Kicad/Main-PCB/ESP32_MIDI_v2/ESP32_MIDI_v2/Pot-adaptor/.DS_Store
PCB/Kicad/Main-PCB/ESP32_MIDI_v2/Pot-adaptor/.DS_Store
PCB/Kicad/Main-PCB/ESP32_MIDI_v2/Pot-adaptor/Gerber.zip
PCB/Kicad/Pot-adaptor/.DS_Store
PCB/Pot-adaptor/.DS_Store
